[submodule "fw/pico-sdk"]
	path = fw/external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	branch = master
[submodule "fw/clipilot"]
	path = fw/external/clipilot
	url = https://github.com/FastRabbit/clipilot.git
